*{
    font-family: 'poppins',sans-serif;
    /* font-size: 10px; */
    font-weight: 300;
}
.first{
    width: auto;
    height: auto;
    padding-top: 80px;
    height: 70vh;
    background :#BDD7F2 url("/images/rohit-tandon-62046.jpg") no-repeat center/cover;
    /* image-resolution: 700PPI; */
    /* filter: blur(2px); */
}
.first .text{
    opacity: 1;

}
.first p{
    color: #BA9CB5;
    font-family: 'Poppins', serif;
    font-size: 15px;
    
}
.first h5{
    color: rosybrown;
    font-size: 30px;
    font-weight: lighter;
    /* font-style: italic; */
    font-family: 'Poppins', serif;
}
.first h3{
    color: rosybrown;
    font-size: 55px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Poppons', serif;
}
.artisanal{
   padding: 60px;
   
}
.explore{
   background-color:#AFCBF0;
   border: none;
   outline: none;
   padding: 10px;
   border-radius: 5px;
}
.more{
    text-decoration: none;
    background-color: #AFCBF0;
    padding: 10px;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
/* .artisanal h1{
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
} */

/* .artisanal h3{
    color: rosybrown;
    color: black;
    font-size: 30px;
    font-family: 'Poppons', serif;
} */
.card h1 {
    font-family: 'Poppins', serif;
    font-size: 50px;
}
.artisanal.card{
    border: 1px solid #BDD7F2;
}
.buy{
    border: 1px solid #333;
    background-color: #333;
    text-decoration: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
   
}
.post{
    padding: 20px;
}
.post button{
    background: transparent;
   color: #BDD7F2;
    outline: none;
   
}
.five{
    background-color: #BDD7F2;
    max-height: auto;
    max-width: 100%;
    margin-bottom: 30px;
}
.cart{
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid rosybrown;
    border-radius: 10px;
    margin-top: 20px;
  
}
.cart img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
}
.add input{
    width: 500px;
    height: 100px;
}
#item{
    width: 500px;
}
#list{
    background-color: rosybrown;
    /* width: 500px;  */
}
.page-btn {
    margin: 0 auto 80px;
  }
  
  .page-btn span {
    display: inline-block;
    border: 1px solid #74ade9;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  
  .page-btn span:hover {
    background: #BDD7F2;
    color: #ffffff;
  }
 
  /* Fod Container  */
  .fod-container{
    display: flex;
    justify-content: space-between;
  }
  @media(max-width:550px){
   .fod-container{
    display: flex;
    justify-content: center;
   }

  }
 
  .img-container {
    margin: 0 1rem;
     position: relative;
}
.img-content {
    position: absolute;
     top: 70%;
     left: 50%;
     transform: translate(-50%, -50%);
      opacity: 0;
      z-index: 2;
      text-align: center;
     transition: all 0.3s ease-in-out 0.1s;
}
.img-content h5 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .img-content a {
    font-size: 1rem;
    border: 1px solid white ;
    text-decoration: none;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }
  .img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    opacity: 0;
    z-index: 1;
   transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
  }
  .img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
  }
  .img-container:hover .img-content {
    opacity: 1;
    top: 40%;
  }
  /* Fod Container  */

  footer{
    background-color: #333;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
  }
